<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <thead>
        <tr>
            <th width="1">No</th>
            <th>Uraian</th>
            <th>Dokumen</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>SOP Pengelolaan Permohonan Informasi</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1IyWYBj_wg8vqJ8F1Hf-jboWHKFtP-pkC/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>SOP Pengelolaan Keberatan atas Informasi</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1ujUkvtbvnV6PIFHT7VNug2Q2KUsD-HtW/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>SOP Penanganan Sengketa Informasi Publik</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1mVimkqAHD8DV34sJ5kjZzclcyHuhFp87/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>SOP Penetapan dan Pemutakhiran Daftar Informasi Publik</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1IE26A1Ybfx97Oc64DVN125ToqSOT0vER/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>SOP Pengujian tentang Konsekuensi</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1t_GDoaUg1LXwnRTnm2wtpm_Gw2m7uJqI/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>SOP Pendokumentasian Informasi Publik</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1RSKDq08EC43hynosOclruayg7QN-wE4G/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td>SOP Pendokumentasian Informasi yang dikecualikan</td>
            <td>
                <a
                    href="https://drive.google.com/file/d/1YGXoMomZsQlQUm_3RDLJqTOfOypod-2L/view?usp=drive_link"
                    target="_blank"
                    >Lihat Dokumen</a
                >
            </td>
        </tr>
    </tbody>
</table>
